.charge {

  section {
    header {
      margin-bottom: $spacing-sm;
    }
  }

  .dashboard {
    ul {
      @include flexbox();
      @include flex-align-items(center);
      @include flex-wrap(wrap);
    }

    li {
      margin: 0 5px 10px 5px;

      &:nth-child(1) {fa-icon {color: $color-one;}}
      &:nth-child(2) {fa-icon {color: $color-two;}}
      &:nth-child(3) {fa-icon {color: $color-three;}}
      &:nth-child(4) {fa-icon {color: $color-four;}}
      &:nth-child(5) {fa-icon {color: $color-five;}}
      &:nth-child(6) {fa-icon {color: $color-six;}}
      &:nth-child(7) {fa-icon {color: $color-seven;}}
      &:nth-child(8) {fa-icon {color: $color-eight;}}

      &:last-child {
        margin-right: 0;
      }

      .mat-checkbox {
        width: 100%;
        position: relative;

        .mat-checkbox-label {
          width: 70px;
          height: 70px;
          @extend .box;
          @include flexbox();
          @include flex-direction(column);
          @include flex-align-items(center);
          @include flex-justify-content(center);

          fa-icon {
            font-size: $fs-30;
            @include transition(all 0.2s ease-in-out);
          }

          span {
            margin-top: $spacing-sm;
            @include transition(all 0.2s ease-in-out);
          }

          &:hover {
            fa-icon, span {
              @include opacity(0.7);
              @include transition(all 0.2s ease-in-out);
            }
          }
        }

        .mat-checkbox-inner-container {
          width: 25px;
          height: 25px;
          margin: 0 !important;
          position: absolute;
          top: 0;
          right: 0;
        }

        .mat-checkbox-frame {
          display: none;
        }

        &.mat-checkbox-checked {
          .mat-checkbox-background {
            background: $color-green;
          }
        }
      }
    }
  }

  /* /////////////////////////////////////////////////////////// */

  .log {
    .scrollbar {
      height: 200px;
    }

    .table {
      .table-header,
      .table-content {
        li {
          &:nth-child(1) {
            width: 20%;
          }

          &:nth-child(2) {
            width: calc(60% - #{$table-padding * 2 * 4})
          }

          &:nth-child(3),
          &:nth-child(4) {
            width: 10%;
            text-align: center;
          }
        }
      }
    }
  }

}
