<section class="dialog budget-contract contract-preview">
  <header>
    <h1>Detalhes do Contrato</h1>
  </header>

  <!-- ============================================================================================================= -->

  <div class="content">

    <div class="contract-info">
      <p><strong>Mecânica</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias soluta nobis repellendus cum atque perferendis iste beatae? Libero ea ipsum, quod dicta rerum perspiciatis, sed provident esse neque, officiis quasi!</p>
    </div>

    <!-- /////////////////////////////////////////////////////////// -->

    <div class="contract-options">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Relação de Filiais">
          <div class="mat-tab-content">

            <ol class="scrollbar">
              <li *ngFor="let tableItem of tableList.tableItem">
                <span>{{tableItem.branch}}</span>
              </li>
            </ol>

          </div>
        </mat-tab>

        <!-- ////////////////////////// -->

        <mat-tab label="Relação de Produtos">
          <div class="mat-tab-content">

            <div class="table">
              <div class="filter">
                <ul>
                  <li>
                    <div class="filter-search">
                      <fa-icon [icon]="['far', 'search']"></fa-icon>
                      <input autocomplete="off" type="text" placeholder="Pesquisar" />
                    </div>
                  </li>
                  <li>
                    <mat-form-field class="filter-select">
                      <mat-select [(value)]="filterOrderSelected">
                        <mat-option value="order">Ordernar por</mat-option>
                        <mat-option value="name">Nome</mat-option>
                        <mat-option value="date">Data</mat-option>
                        <mat-option value="hour">Horário</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                </ul>
              </div>

              <!-- /// -->

              <ul class="table-header">
                <li>Código</li>
                <li>Descrição</li>
                <li>Valor Item</li>
                <li>Valor Limite</li>
              </ul>

              <!-- /// -->

              <div class="scrollbar">
                <ul class="table-list">
                  <li *ngFor="let tableItem of tableList.tableItem">
                    <ul class="table-content">
                      <li>{{tableItem.id}}</li>
                      <li>{{tableItem.name}}</li>
                      <li>{{tableItem.valueUnitary}}</li>
                      <li>{{tableItem.valueLimit}}</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </mat-tab>

        <!-- ////////////////////////// -->

      </mat-tab-group>
    </div>

  </div>

  <!-- ============================================================================================================= -->

  <ul class="dialog-actions">
    <li>
      <button (click)="closeDialog()"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
    </li>
  </ul>

</section>
