<app-contrato-verba-pesquisa
  [pesquisa]="pesquisaProduto"
  (notify)="respostaModalProdutos($event)"
></app-contrato-verba-pesquisa>

<app-breadcrumbs [currentPage]="'Contrato de Verba > Novo'" [header]="'primary'"></app-breadcrumbs>

<!-- ============================================================================================================= -->

<div class="budget-contract contract-new">
  <section class="contract-type">
    <header>
      <h1>Escolha o tipo de contrato</h1>

      <div class="buttons">
        <button mat-raised-button type="button">
          <fa-icon [icon]="['fas', 'file-upload']"></fa-icon>
          <span>Importar</span>
        </button>
        <button mat-button type="button" (click)="validarForms()">Concluir</button>
      </div>
    </header>

    <!-- /// -->

    <mat-radio-group aria-label="Selecione uma opção">
      <ul class="actions">
        <li>
          <mat-radio-button value="rebaixa" (click)="toggleShow('1')">
            <fa-icon [icon]="['far', 'badge-dollar']"></fa-icon>
            <span>Rebaixa</span>
          </mat-radio-button>
        </li>

        <li>
          <mat-radio-button value="pack" (click)="toggleShow('2')">
            <fa-icon [icon]="['far', 'box-full']"></fa-icon>
            <span>Pack</span>
          </mat-radio-button>
        </li>

        <li>
          <mat-radio-button value="pbm" disabled>
            <fa-icon [icon]="['fas', 'database']"></fa-icon>
            <span>PBM</span>
          </mat-radio-button>
        </li>

        <li>
          <mat-radio-button value="cupomDesconto" disabled>
            <fa-icon [icon]="['far', 'ticket-alt']"></fa-icon>
            <span>Cupom Desconto</span>
          </mat-radio-button>
        </li>
      </ul>
    </mat-radio-group>
  </section>

  <!-- ============================================================================================================= -->

  <div *ngIf="isAllHide" class="row container-fluid" id="divshow">
    <section class="contract-details">
      <mat-accordion multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <h2>Informações do Contrato</h2>
          </mat-expansion-panel-header>

          <form [formGroup]="registerInfoForm">
            <div class="fm-inline">
              <mat-form-field class="fm-group size-60">
                <mat-label>Nome do Contrato</mat-label>
                <input matInput autocomplete="off" formControlName="nomeContrato" maxlength="256" />
              </mat-form-field>

              <!-- /// -->

              <mat-form-field class="fm-group size-20">
                <mat-label>Tipo de Movimentação</mat-label>
                <mat-select [(value)]="contractMovementType" disabled>
                  <mat-option value="ctMovementIn">Entrada</mat-option>
                  <mat-option value="ctMovementOut">Saída</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- /// -->

              <mat-form-field class="fm-group size-20">
                <mat-label>Data de criação</mat-label>
                <input matInput value="{{ isToday }}" readonly />
              </mat-form-field>
            </div>

            <!-- ////////////////// -->

            <div class="fm-inline">
              <mat-form-field class="fm-group size-50">
                <mat-label>Negociador</mat-label>
                <input
                  #componenteBusca
                  type="text"
                  placeholder="Busque por nome ou codigo do negociador"
                  aria-label="Nome"
                  matInput
                  [formControl]="myControl"
                  [matAutocomplete]="auto"
                  (keyup)="buscarNegociador($event)"
                />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option.value }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <!-- /// -->

              <mat-form-field class="fm-group size-50">
                <mat-label>Responsável pelo Contrato</mat-label>
                <input matInput formControlName="responsavelCriacao" readonly />
              </mat-form-field>
            </div>

            <!-- ////////////////// -->

            <div class="fm-inline">
              <mat-form-field class="fm-group size-25">
                <mat-label>Início</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Data Início"
                  (focus)="onFocusEvent($event)"
                  formControlName="periodoVigenciaInicio"
                />
              </mat-form-field>

              <!-- /// -->

              <mat-form-field class="fm-group size-25">
                <mat-label>Término</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Data Final"
                  (focus)="onFocusEvent($event)"
                  formControlName="periodoVigenciaFinal"
                />
              </mat-form-field>

              <!-- /// -->

              <mat-form-field class="fm-group size-25">
                <mat-label>Valor Ressarcimento</mat-label>
                <input matInput currencyMask maxlength="8" formControlName="valorRessarcimento" />
                <span matPrefix>R$</span>
              </mat-form-field>

              <!-- /// -->

              <mat-form-field class="fm-group size-25">
                <mat-label>Valor Limite</mat-label>
                <input matInput currencyMask maxlength="8" formControlName="valorLimite" />
                <span matPrefix>R$</span>
              </mat-form-field>
            </div>

            <!-- /// -->

            <mat-form-field class="fm-group">
              <mat-label>Mecânica do Contrato</mat-label>
              <textarea matInput formControlName="mecanicaContrato"></textarea>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <!-- ============================================================================================================= -->

    <section class="contract-options">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Relação de Filiais">
          <div class="mat-tab-content">
            <app-branches></app-branches>
          </div>
        </mat-tab>

        <!-- ////////////////////////// -->

        <mat-tab label="Relação de Produtos">
          <div class="mat-tab-content">
            <form class="products" [formGroup]="registerProdutoForm">
              <div class="table">
                <tr>
                  <ng-container *ngFor="let col of columns"> </ng-container>
                </tr>
                <div class="filter">
                  <ul>
                    <li>
                      <mat-checkbox
                        [checked]="isSelected"
                        (change)="isSelected = !isSelected"
                        [(ngModel)]="isRemoved"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        {{ task.name }}
                      </mat-checkbox>
                    </li>
                    <li>
                      <div class="filter-search">
                        <fa-icon [icon]="['far', 'search']"></fa-icon>
                        <input
                          type="text"
                          autocomplete="off"
                          placeholder="Pesquisar"
                          (keyup.enter)="dialogSearch($event)"
                        />
                      </div>
                    </li>
                  </ul>

                  <ul class="buttons">
                    <li>
                      <button mat-raised-button (click)="clearFormArray()">
                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                        Remover
                      </button>
                    </li>
                  </ul>
                </div>

                <!-- /// -->

                <ul class="table-header">
                  <li></li>
                  <li>
                    <mat-form-field>
                      <mat-select [(value)]="tableHeaderSelected">
                        <mat-option value="sku">Código</mat-option>
                        <mat-option value="family">Família</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                  <li>Descrição</li>
                  <li>{{ valorQuatidade }}</li>
                  <li>Valor Limite</li>
                  <li>&nbsp;</li>
                </ul>

                <!-- /// -->

                <div class="scrollbar">
                  <ng-container *ngFor="let control of listaProdutos.controls; index as rowIndex">
                    <ng-container formArrayName="listaProdutos">
                      <div [formGroupName]="rowIndex">
                        <div class="table">
                          <ul class="table-list">
                            <li>
                              <ul class="table-content">
                                <li>
                                  <mat-checkbox
                                    formControlName="selecionado"
                                    [checked]="isSelected"
                                  ></mat-checkbox>
                                </li>

                                <li>
                                  <mat-form-field class="fm-group">
                                    <input
                                      matInput
                                      autocomplete="off"
                                      formControlName="codigoProduto"
                                      readonly
                                    />
                                  </mat-form-field>
                                </li>
                                <li>
                                  <mat-form-field class="fm-group">
                                    <input
                                      matInput
                                      autocomplete="off"
                                      formControlName="descricaoProduto"
                                      isDisabled="true"
                                      readonly
                                    />
                                  </mat-form-field>
                                </li>
                                <li>
                                  <div
                                    *ngIf="isHidePdtUso"
                                    class="row container-fluid"
                                    id="divshow"
                                  >
                                    <mat-form-field class="fm-group">
                                      <input
                                        matInput
                                        currencyMask
                                        maxlength="8"
                                        formControlName="valorItem"
                                      />
                                      <span matPrefix>R$</span>
                                    </mat-form-field>
                                  </div>
                                  <div
                                    *ngIf="isShownPdtUso"
                                    class="row container-fluid"
                                    id="divshow"
                                  >
                                    <mat-form-field class="fm-group">
                                      <input
                                        matInput
                                        autocomplete="off"
                                        type="text"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                        maxlength="6"
                                        formControlName="quantidadeItem"
                                      />
                                      <span matPrefix></span>
                                    </mat-form-field>
                                  </div>
                                </li>
                                <li>
                                  <mat-form-field class="fm-group">
                                    <input
                                      matInput
                                      currencyMask
                                      maxlength="8"
                                      formControlName="valorLimiteItem"
                                    />
                                    <span matPrefix>R$</span>
                                  </mat-form-field>
                                </li>
                                <li>
                                  <a
                                    class="delete"
                                    #tooltip="matTooltip"
                                    matTooltip="Excluir item"
                                    matTooltipPosition="above"
                                    (click)="onDeleteRow(rowIndex)"
                                  >
                                    <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>

        <!-- ////////////////////////// -->

        <div *ngIf="isShownPdtUso" class="row container-fluid" id="divshow">
          <div ng-show="myVar">
            <mat-tab label="Produtos de Uso">
              <div class="mat-tab-content">
                <form class="products" [formGroup]="registerProdutoUsoForm">
                  <div class="table">
                    <tr>
                      <ng-container *ngFor="let col of columns"> </ng-container>
                    </tr>
                    <div class="filter">
                      <ul>
                        <li>
                          <mat-checkbox
                            [checked]="isSelectedP"
                            (change)="isSelectedP = !isSelectedP"
                            [(ngModel)]="isRemovedP"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            {{ task.name }}
                          </mat-checkbox>
                        </li>
                        <li>
                          <div class="filter-search">
                            <fa-icon [icon]="['far', 'search']"></fa-icon>
                            <input
                              type="text"
                              autocomplete="off"
                              placeholder="Pesquisar"
                              (keyup.enter)="dialogSearchProdUso($event)"
                            />
                          </div>
                        </li>
                      </ul>

                      <ul class="buttons">
                        <li>
                          <button mat-raised-button (click)="clearFormArrayProdutoUso()">
                            <fa-icon [icon]="['fas', 'times']"></fa-icon>
                            Remover
                          </button>
                        </li>
                      </ul>
                    </div>

                    <!-- /// -->

                    <ul class="table-header">
                      <li></li>
                      <li>
                        <mat-form-field>
                          <mat-select [(value)]="tableHeaderSelected">
                            <mat-option value="sku">Código</mat-option>
                            <mat-option value="family">Família</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </li>
                      <li>Descrição</li>
                      <li>{{ valorQuatidade }}</li>
                      <li>Valor Limite</li>
                      <li>&nbsp;</li>
                    </ul>

                    <!-- /// -->

                    <div class="scrollbar">
                      <ng-container
                        *ngFor="let control of listaProdutoUsos.controls; index as rowIndexUso"
                      >
                        <ng-container formArrayName="listaProdutoUsos">
                          <div [formGroupName]="rowIndexUso">
                            <div class="table">
                              <ul class="table-list">
                                <li>
                                  <ul class="table-content">
                                    <li>
                                      <mat-checkbox
                                        formControlName="selecionadoUso"
                                        [checked]="isSelectedP"
                                      ></mat-checkbox>
                                    </li>

                                    <li>
                                      <mat-form-field class="fm-group">
                                        <input
                                          matInput
                                          autocomplete="off"
                                          formControlName="codigoProdutoUso"
                                        />
                                      </mat-form-field>
                                    </li>
                                    <li>
                                      <mat-form-field class="fm-group">
                                        <input
                                          matInput
                                          autocomplete="off"
                                          formControlName="descricaoProdutoUso"
                                        />
                                      </mat-form-field>
                                    </li>
                                    <li>
                                      <mat-form-field class="fm-group">
                                        <input
                                          matInput
                                          autocomplete="off"
                                          type="text"
                                          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                          maxlength="6"
                                          formControlName="quantidadeItemUso"
                                        />
                                        <span matPrefix></span>
                                      </mat-form-field>
                                    </li>
                                    <li>
                                      <mat-form-field class="fm-group">
                                        <input
                                          matInput
                                          currencyMask
                                          maxlength="8"
                                          formControlName="valorLimiteItemUso"
                                        />
                                        <span matPrefix>R$</span>
                                      </mat-form-field>
                                    </li>
                                    <li>
                                      <a
                                        class="delete"
                                        #tooltip="matTooltip"
                                        matTooltip="Excluir item"
                                        matTooltipPosition="above"
                                        (click)="onDeleteRowProdutoUso(rowIndexUso)"
                                      >
                                        <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
                                      </a>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </form>
              </div>
            </mat-tab>
          </div>
        </div>
      </mat-tab-group>
    </section>
  </div>
</div>
