<div class="notificacao-popup" [class]="show ? 'show' : ''">
  <p class="title">Notificações</p>

  <ul class="row col-12 m-0 no-style-li" *ngFor="let item of list; let i = index;">
    <li class="col p-0">
      <div class="p-title" [innerHtml]="item.notificacoes"></div>
    </li>
    <li class="col-1 options-menu text-right">
      <a *ngIf="item.showBtn" (click)="selectItem($event,item,i,op3)">
        <i class="optionsIcons pi pi-ellipsis-v"></i>
      </a>
    </li>
  </ul>
  <ul class="row col-12 m-0 no-style-li line">
    <li class="col p-0">
      <p (click)="visualizarTudo()" class="p-title-all">Ver todas as notificações</p>
    </li>
  </ul>

  <p-overlayPanel #op3 [appendTo]="'body'">
    <div class="row">
      <div class="col-12" *ngFor="let ev of customEvents">
        <a class="btn-overlay" (click)="ev.event(op3, { data: this.selectedItem, event: $event })"
          >{{ev.title}}</a
        >
      </div>
    </div>
  </p-overlayPanel>
</div>
