@import '../../../../../padroes_prove.scss';

.notificacao-popup {
  display: none;
  position: absolute;
  z-index: 10;
  right: -165px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 180px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #87c540;
    margin-top: -9px;
    float: right;
  }

  .title {
    font-family: $opensansregular;
    font-weight: 700;
    font-size: 13px;
    color: #373a3c;
    padding: 12px 15px;
  }

  .p-title {
    font-family: $opensansregular;
    font-size: 13px;
    height: 34px;
    overflow: hidden;
  }

  .p-title-all {
    color: #106ac6;
    font-size: 13px;
    font-family: $opensansregular;
    font-weight: 700;
    text-align: center;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    border-top: 1px solid #f0f1f5;
  }

  .no-style-li {
    li {
      list-style-type: none;
    }
  }

  .options-menu {
    display: flex;
    align-items: center;
  }
}

.show {
  display: block;
  font-family: $opensansregular;
  font-size: 13px;
}
