$primary: #333333 !default;
$secondary: #ffffff !default;

$color-white     : #ffffff !default;
$color-black     : #000000 !default;
$color-gray      : #656565 !default;
$color-gray-xlt  : #eeeeee !default;
$color-gray-lt   : #e1e1e1 !default;
$color-gray-hv   : #4a4b4d !default;
$color-blue-lt   : #3ec6ff !default;
$color-blue      : #089ef4 !default;
$color-blue-hv   : #254268 !default;
$color-green-lt  : #d2de2a !default;
$color-green     : #4cb757 !default;
$color-green-hv  : #009248 !default;
$color-red       : #d0232a !default;
$color-red-hv    : #b31319 !default;
$color-yellow    : #f4e04d !default;
$color-yellow-hv : #dbc32b !default;
$color-purple    : #7e3eff !default;
$color-pink      : #fe93b0 !default;

$color-one   : #fab727 !default;
$color-two   : #f48925 !default;
$color-three : #d0232a !default;
$color-four  : #9a1740 !default;
$color-five  : #86266b !default;
$color-six   : #2674ae !default;
$color-seven : #2d86c8 !default;
$color-eight : #4cb757 !default;

$color      : #555555 !default;
$background : #f5f5f5 !default;

$breadcrumb-bg : #ededed !default;

$sidenav-bg : #ffffff !default;
$sidenav-bg-hover : #e8e8e8 !default;
$sidenav-sub-item-bg : #f5f5f5 !default;

$table-row-bg       : #f5f5f5 !default;
$table-row-bg-hover : #e8e8e8 !default;

$disabled-text       : #b1b1b1 !default;
$disabled-background : #e1e1e1 !default;
