<div class="pane">
  <div class="cardWrapper" fxLayout="row" fxLayoutAlign="end">
    <i (click)="fechaMenu()" class="fechar-menu collapse-simb pi pi-times"></i>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="container-icone-usuario">
      <div fxFlex="30" class="container-image">
        <img src="../../../../../assets/img/avatar2.svg" class="card-image" />
      </div>
      <div fxFlex="70" class="container-nome-perfil">
        <div fxLayout="row">
          <span class="nome-usuario">
            {{ nomeUsuario }}
          </span>
        </div>
        <div class="container-cargo" fxLayout="row">
          <span class="cargo-usuario">
            {{ cargo }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li class="titulo ng-star-inserted">
        <div class="menu-1" (click)="redirecionaHome()">
          <i class="pi pi-home prove-color-white1 align-middle mr-2"></i>
          <a class="title-menu" [routerLink]="" routerLinkActive="active">Home</a>
        </div>
      </li>
      <li class="titulo" *ngFor="let item of menu">
        <div *ngIf="item.show" class="menu-1" (click)="item.collapsed = !item.collapsed">
          <i class="pi {{ item.icon }} prove-color-white1 align-middle mr-2"></i>
          <span *ngIf="!item.link" class="title-menu">{{ item.label }}</span>
          <a
            *ngIf="item.link"
            class="title-menu"
            [routerLink]="item.link"
            routerLinkActive="active"
            >{{ item.label }}</a
          >

          <i class="collapse-simb pi pi-minus" *ngIf="item.children && !item.collapsed"></i>
          <i class="collapse-simb pi pi-plus" *ngIf="item.children && item.collapsed"></i>
        </div>
        <div
          *ngIf="item.children"
          id="collapseParametro"
          class="collapseMenu"
          [ngbCollapse]="item.collapsed"
        >
          <div *ngFor="let chd of item.children">
            <li *ngIf="chd.show">
              <a [routerLink]="chd.link" routerLinkActive="active">- {{ chd.label }}</a>
            </li>
          </div>
        </div>
      </li>

      <li class="titulo ng-star-inserted">
        <div class="menu-1" (click)="logout()">
          <i class="pi pi-times-circle prove-color-white1 align-middle mr-2"></i>
          <a class="title-menu" [routerLink]="" routerLinkActive="active">Sair do sistema</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
