.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.fm-group {
  width: 100%;
  padding-top: 20px;
  display: block !important;
  position: relative;

  + .fm-group,
  + .fm-inline {
    margin-top: $spacing-sm;
  }
}

.fm-inline {
  @include flexbox();
  @include flex-align-items(baseline);

  + .fm-inline,
  + .fm-group {
    margin-top: $spacing-sm;
  }

  .fm-group {
    width: 100%;
    margin: 0;
    display: inline-block !important;

    &:last-child {
      margin: 0;
    }

    + .fm-group {
      margin: 0 0 0 $spacing-sm;
    }
  }

  + .group-inline {
    margin-top: $spacing-sm;
  }
}

fieldset {
  + fieldset {
    margin-top: $spacing-sm;
  }
}

.fm-select {
  @include flexbox();
  @include flex-align-items(center);

  i {
    margin-right: 1rem;
  }
}

/* ////////////////////////////////////////////////////// */

.mat-form-field-appearance-legacy {
  .mat-form-field-label-wrapper {
    font-size: $fs-14;
    top: -30px;
    left: -10px;
    padding: 0;
  }

  .mat-form-field-label {
    width: 100% !important;
    @include transform(translateY(-18px) !important);
  }

  .mat-input-element {
    font-size: $fs-14;
    color: $color;
    height: 100%;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    .mat-icon-button {
      width: auto;
      height: auto;
      padding: 8px;
      margin: -8px;

      svg {
        height: auto;
      }
    }
  }

  .mat-form-field-prefix {
    font-size: $fs-12;
    margin-right: 5px;

    + .mat-form-field-infix {
      .mat-form-field-label-wrapper {
        left: -33px;
      }
    }
  }

  .mat-form-field-subscript-wrapper {
    margin: 0;
  }

  .mat-form-field-infix {
    width: 100%;
    padding: 0;
    border-top: none;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.mat-form-field {
  line-height: normal;

  .mat-form-field-wrapper {
    padding: 8px;
    border: 1px solid transparentize(black, 0.8);
    @include border-radius(4px);
    @include transition(all 0.2s ease-in-out);
  }

  &.mat-focused {
    .mat-form-field-label {
      color: $color-seven;
    }

    .mat-form-field-wrapper {
      border-color: $color-seven;
      @include transition(all 0.2s ease-in-out);
    }
  }

  &.mat-form-field-disabled {
    .mat-form-field-wrapper {
      border-style: dashed;
      background: transparentize($color, 0.95);
    }
  }
}

/* ////////////////////////////////////////////////////// */
/* input */

input {
  &:-webkit-autofill,
  &:-webkit-autofill::first-line,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    font: 400 $fs-14 'Roboto'!important;
    @include transition(background-color 5000s ease-in-out 0s);
  }
}

/* ////////////////////////////////////////////////////// */
/* search */

.fm-search {
  width: 100%;
  @include flexbox();
  @include flex-align-items(center);

  .fm-group {
    margin: 0;
  }

  button {
    width: auto;
    height: auto;
    line-height: normal;
    margin: 0 15px 15px 0;

    .mat-icon {
      font-size: $fs-18;
    }
  }
}

/* ////////////////////////////////////////////////////// */
/* password */

.fm-password {
  position: relative;

  input {
    padding-right: 30px;
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

/* ////////////////////////////////////////////////////// */
/* select */

.mat-select-panel {
  @extend .scrollbar;
}

.mat-select-value {
  font-size: $fs-14;
  color: $color;
}

.mat-select-arrow {
  color: $color;
}

/* ///////////////////// */
/* radio */

.mat-radio-container {
  zoom: 0.8;
}

.mat-radio-label-content {
  font-size: $fs-12;
}

.fm-radio-inline {
  mat-radio-button {
    + mat-radio-button {
      margin-left: $spacing-sm;
    }
  }
}

/* ////////////////////////////////////////////////////// */
/* checkbox */

.mat-checkbox {
  &.mat-checkbox-checked {
    &.mat-accent {
      .mat-checkbox-background {
        background: $color-eight;
      }
    }
  }

  &.mat-checkbox-indeterminate {
    .mat-checkbox-background {
      background: $color-eight;
    }
  }
}

.mat-checkbox-layout {
  display: -webkit-flex !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -moz-box !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mat-checkbox-frame {
  border-width: 1px !important;
}

.mat-checkbox-label {
  font-size: $fs-12 !important;
  line-height: normal !important;
}

.mat-checkbox-checked {

}

/* ////////////////////////////////////////////////////// */
/* textarea */

textarea {
  resize: none !important;
  box-sizing: border-box !important;
}

/* ////////////////////////////////////////////////////// */
/* alerts */

.message-error {
  display: block;
  color: $color-red;
  font-size: $fs-12;
  margin: $spacing-sm 0;
}

/* ######################################################################################################## */
/* ######################################################################################################## */
/* ######################################################################################################## */
/* ######################################################################################################## */

@media screen and (min-width: $screen-md) {
  .fieldset-inline {
    @include flexbox();

    fieldset {
      + fieldset {
        margin: 0 0 0 $spacing-sm;
      }
    }
  }
}
