.home {
  .dashboard {
    padding: 0;

    ul {
      height: calc(100vh - 70px);
      @include flexbox();
      @include flex-wrap(wrap);
    }

    li {
      width: calc(100% / 2);
      height: calc(100% / 4);
      background: rgb(255, 255, 255);
      @include gradient(150deg, #ffffff 0%, #ebebeb 100%);
      /*background: linear-gradient(120deg, #ffffff 0%, #ebebeb 100%);*/
      /*background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);*/
      position: relative;
      overflow: hidden;
      @include flexbox();
      @include flex-align-items(center);
      @include flex-justify-content(center);

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 50px 50px 0;
        border-color: transparent $color transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:nth-child(1) {
        &:before, .icon {
          color: $color-one;
          border-right-color: $color-one;
        }
      }

      &:nth-child(2) {
        &:before, .icon {
          color: $color-two;
          border-right-color: $color-two;
        }
      }

      &:nth-child(3) {
        &:before, .icon {
          color: $color-three;
          border-right-color: $color-three;
        }
      }

      &:nth-child(4) {
        &:before, .icon {
          color: $color-four;
          border-right-color: $color-four;
        }
      }

      &:nth-child(5) {
        &:before, .icon {
          color: $color-five;
          border-right-color: $color-five;
        }
      }

      &:nth-child(6) {
        &:before, .icon {
          color: $color-six;
          border-right-color: $color-six;
        }
      }

      &:nth-child(7) {
        &:before, .icon {
          color: $color-seven;
          border-right-color: $color-seven;
        }
      }

      &:nth-child(8) {
        &:before, .icon {
          color: $color-eight;
          border-right-color: $color-eight;
        }
      }

      &.empty {
        &:before, .icon, a {
          color: transparentize($color, .5) !important;
          border-right-color: transparentize($color, .5) !important;
        }
      }

      a {
        text-align: center;
        text-decoration: none;
        padding: 0 15px;
        @include themify('color', 'color-text-primary');
      }

      .icon {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        @include flexbox();
        @include flex-align-items(center);
        @include flex-justify-content(center);

        fa-icon {
          font-size: $fs-70;
        }

        span {
          font-size: $fs-80;
        }
      }

      .content {
        margin-top: $spacing-sm;

        p {
          font-weight: 600;

          + p {
            font-weight: 500;
            display: none;
          }
        }
      }

    }
  }


  /* ######################################################################################################## */
  /* ######################################################################################################## */
  /* ######################################################################################################## */
  /* ######################################################################################################## */

  @media screen and (min-width: $screen-md) {

    .dashboard {
      li {
        @include flex-justify-content(flex-start);

        .icon {
          width: 60px;
          height: 60px;
          margin: 0;

          fa-icon {
            font-size: $fs-60;
          }

          span {
            font-size: $fs-70;
          }
        }

        a {
          padding: 0 $spacing-md;
          @include flexbox();
          @include flex-align-items(center);

          .content {
            text-align: left;
            margin: 0 0 0 $spacing-md;

            p {
              + p {
                margin: 10px 0 0 0;
                display: block;
              }
            }
          }
        }
      }
    }

  }

}
