<header class="header-mobile" fxLayout="row">
  <div fxFlex="100">
    <div fxFlex="100" fxLayoutAlign="center center" class="container-prove">
      <span class="">
        <i class="title-menu"
          ><img src="../../../../assets/img/prove-logo-escuro.svg" class="icone-prove"
        /></i>
      </span>
    </div>
    <div fxFlex="50px" class="container-icone-notificacao">
      <span>
        <i class="title-menu"
          ><img src="../../../../assets/img/alert.svg" class="icone-notificacao"
        /></i>
      </span>
    </div>
  </div>
</header>
