<app-airplane-edit></app-airplane-edit>

<app-template>
  <app-nav></app-nav>
  <button (click)="logout()" class="btn-entrar">
    <span class="acessar">Logout</span>
    <span>
      <img src="../../../assets/img/seta-login.svg" class="icone-seta-login" />
    </span>
  </button>

  <button (click)="modalDoca()" class="btn-entrar">
    <span class="acessar">Modal Doca</span>
    <span>
      <img src="../../../assets/img/seta-login.svg" class="icone-seta-login" />
    </span>
  </button>
</app-template>
