<div class="home">
  <section class="dashboard">
    <ul>
      <li>
        <a routerLink="/contrato-verba/novo">
          <div class="icon">
            <fa-icon [icon]="['fas', 'file-signature']"></fa-icon>
          </div>

          <div class="content">
            <p>Contrato de Verba</p>
            <p>Novo, Consulta, Liberação, Apuração e Relatórios</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li>
        <a routerLink="/carga">
          <div class="icon">
            <fa-icon [icon]="['fas', 'database']"></fa-icon>
          </div>

          <div class="content">
            <p>Carga</p>
            <p>Execução de Carga e Estatísticas</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li class="empty">
        <a routerLink="/">
          <div class="icon">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </div>

          <div class="content">
            <p>Adicionar Tela</p>
            <p>Escolha um módulo de sua preferência</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li class="empty">
        <a routerLink="/">
          <div class="icon">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </div>

          <div class="content">
            <p>Adicionar Tela</p>
            <p>Escolha um módulo de sua preferência</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li class="empty">
        <a routerLink="/">
          <div class="icon">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </div>

          <div class="content">
            <p>Adicionar Tela</p>
            <p>Escolha um módulo de sua preferência</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li class="empty">
        <a routerLink="/">
          <div class="icon">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </div>

          <div class="content">
            <p>Adicionar Tela</p>
            <p>Escolha um módulo de sua preferência</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li class="empty">
        <a routerLink="/">
          <div class="icon">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </div>

          <div class="content">
            <p>Adicionar Tela</p>
            <p>Escolha um módulo de sua preferência</p>
          </div>
        </a>
      </li>

      <!-- /// -->

      <li class="empty">
        <a routerLink="/">
          <div class="icon">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </div>

          <div class="content">
            <p>Adicionar Tela</p>
            <p>Escolha um módulo de sua preferência</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
