.mat-accordion {
  .mat-expansion-panel {
    color: $color;
    @include border-radius(2px!important);
    @include box-shadow(1px 1px 4px transparentize(black, .8)!important);

    &.mat-expansion-panel-spacing {
      margin: 0;
    }

    + .mat-expansion-panel {
      margin-top: $spacing-md ;
    }

    .mat-expansion-panel-header {
      height: auto;
      padding: $spacing-md;
      @include transition (all 0.2s ease-in-out);

      h2 {
        margin: 0;
      }

      &:hover {
        background: transparentize(black, .98)!important;
        @include transition (all 0.2s ease-in-out);
      }
    }

    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: $spacing-md;
        border-top: $border-divider;
      }
    }
  }
}
