.breadcrumbs {
  height: $breadcrumb-height;
  padding: 0 $main-padding;
  background: $breadcrumb-bg;
  @include flexbox();
  @include flex-align-items(center);

  .title {
    font-size: $fs-20;
    @include themify('color', 'color-text-primary');
    margin-bottom: 6px;
  }

  a.crumb, a.link {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
    font-size: $fs-14;
    @include themify('color', 'color-text-primary');
  }

  .chevron {
    font-size: $fs-20;
    line-height: 20px;
    height: 20px;
    width: 20px;
    margin-bottom: -2px;
  }

  div.crumb {
    @include themify('color', 'color-text-primary');
    font-size: $fs-14;
  }

  &.primary {
    .title {
      /*color: mat-color($color-primary, default-contrast);*/
      @include themify('color', 'color-text-primary');
    }

    a.crumb, a.link {
      /*color: mat-color($color-primary, default-contrast);*/
      @include themify('color', 'color-text-primary');

      &:hover {
        @include opacity(.7);
      }
    }

    .chevron {
      opacity: .6;
    }

    div.crumb {
      @include themify('color', 'color-text-primary');
    }
  }

  &.accent {
    .title {
      color: mat-color($color-accent, default-contrast);
    }

    a.crumb, a.link {
      color: mat-color($color-accent, default-contrast);
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }

    .chevron {
      opacity: .6;
    }

    div.crumb {
      color: mat-color($color-accent, default-contrast);
    }
  }

  &.warn {
    .title {
      color: mat-color($color-warn, default-contrast);
    }

    a.crumb, a.link {
      color: mat-color($color-warn, default-contrast);
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }

    .chevron {
      opacity: .6;
    }

    div.crumb {
      color: mat-color($color-warn, default-contrast);
    }
  }
}
