<div class="pane">
  <div class="logo-container btn" (click)="redirecionaHome()">
    <img src="../../../assets/img/prove-logo-menu.svg" class="Grupo-3459" />
  </div>
  <nav>
    <ul>
      <li class="titulo" *ngFor="let item of menu">
        <div *ngIf="item.show" class="menu-1" (click)="collapseItem(item, menu)">
          <i class="pi {{ item.icon }} prove-color-white1 align-middle mr-2"></i>
          <span *ngIf="!item.link" class="title-menu">{{ item.label }}</span>
          <a
            *ngIf="item.link"
            class="title-menu"
            [routerLink]="item.link"
            (click)="clickMenu()"
            routerLinkActive="active"
            >{{ item.label }}</a
          >

          <i class="collapse-simb pi pi-minus" *ngIf="item.children && !item.collapsed"></i>
          <i class="collapse-simb pi pi-plus" *ngIf="item.children && item.collapsed"></i>
        </div>
        <!-- SubMenu -->
        <div
          *ngIf="item.children"
          id="collapseParametro"
          class="collapseMenu"
          [ngbCollapse]="item.collapsed"
        >
          <div *ngFor="let chd of item.children">
            <!-- <li *ngIf="chd.show" class="li-link">
              <a
                [routerLink]="chd.link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >- {{ chd.label }}</a
              >
            </li> -->

            <div *ngIf="chd.show" class="li-link" (click)="collapseItem(chd, item.children)">
              <i class="pi {{ chd.icon }} prove-color-white1 align-middle mr-2"></i>
              <span *ngIf="!chd.link" class="title-menu">{{ chd.label }}</span>
              <a
                *ngIf="chd.link"
                class="title-menu"
                [routerLink]="chd.link"
                (click)="clickMenu()"
                routerLinkActive="active"
                >{{ chd.label }}</a
              >

              <i class="collapse-simb pi pi-minus" *ngIf="chd.children && !chd.collapsed"></i>
              <i class="collapse-simb pi pi-plus" *ngIf="chd.children && chd.collapsed"></i>
            </div>

            <!-- SubMenu 2 -->
            <div
              *ngIf="chd.children"
              id="collapseParametro2"
              class="collapseMenu2"
              [ngbCollapse]="chd.collapsed"
            >
              <div *ngFor="let subchd of chd.children">
                <li *ngIf="subchd.show" class="li-link">
                  <a
                    [routerLink]="subchd.link"
                    routerLinkActive="active"
                    (click)="clickMenu()"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >- {{ subchd.label }}</a
                  >
                </li>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
