@import '../../../../../padroes_prove.scss';

.toolbar-content {
  display: flex;
  width: 100%;
  color: $verde;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  font-family: $opensansregular;

  ul {
    padding: 0;
    margin: 0;

    li {
      color: #777;
      padding: 7px;
      font-size: 1.3em;
      float: left;
      list-style: none;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }

  a,
  span {
    font-weight: bold;

    &:last-child {
      font-weight: 300;
    }
  }
}

.texto-breadcrumb {
  object-fit: contain;
  font-family: $opensansregular;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.38px;
  text-align: left;
  color: #023223;
}
