<div class="auth forgot align-center">
  <section>
    <header></header>

    <!-- ============================================================================================================= -->

    <div class="content">
      <div class="profile-picture" style="background-image: url('assets/img/user.png')"></div>

      <form class="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="fm-group">
          <input
            type="text"
            placeholder="Digite seu código"
            name="codigo"
            formControlName="chave"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          />
        </div>

        <div class="buttons">
          <button mat-raised-button type="submit">Recuperar Senha</button>
          <a [routerLink]="['/auth']">Voltar para login</a>
        </div>
      </form>
    </div>
  </section>
</div>
