<app-breadcrumbs
  [currentPage]="'Contrato de Verba - Consulta'"
  [header]="'primary'"
></app-breadcrumbs>

<!-- ============================================================================================================= -->

<div class="budget-contract contract-query">
  <section class="contract-list">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Todos">
        <div class="mat-tab-content">
          <mat-accordion class="table">
            <div class="filter">
              <ul>
                <li>
                  <mat-checkbox
                    [checked]="allComplete"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)"
                  >
                    Selecionar Todos
                  </mat-checkbox>
                </li>
                <li>
                  <mat-form-field class="filter-select">
                    <mat-select [(value)]="filterOrderSelected">
                      <mat-option value="order" (click)="itemSelecionado('order')"
                        >Ordernar por</mat-option
                      >
                      <mat-option value="code" (click)="itemSelecionado('code')">Código</mat-option>
                      <mat-option value="name" (click)="itemSelecionado('name')">Nome</mat-option>
                      <mat-option value="created" (click)="itemSelecionado('created')"
                        >Data de Cadastro</mat-option
                      >
                      <mat-option value="period" (click)="itemSelecionado('period')"
                        >Período de Vigência</mat-option
                      >
                      <mat-option
                        value="authorizationDate"
                        (click)="itemSelecionado('authorizationDate')"
                        >Data da Liberação</mat-option
                      >
                      <mat-option value="status" (click)="itemSelecionado('status')"
                        >Situação</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </li>
                <li>
                  <div class="filter-search">
                    <fa-icon [icon]="['far', 'search']"></fa-icon>
                    <input
                      autocomplete="off"
                      type="text"
                      placeholder="Pesquisar"
                      (keyup.enter)="onEnter($event)"
                    />
                  </div>
                </li>
              </ul>

              <ul class="buttons">
                <li>
                  <button mat-button>
                    <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                    Liberar
                  </button>
                </li>
              </ul>
            </div>

            <!-- /// -->

            <ul class="table-header">
              <li>&nbsp;</li>
              <li>Código</li>
              <li>Nome</li>
              <li>Data de Cadastro</li>
              <li>Período de Vigência</li>
              <li>Data da Liberação</li>
              <li>Situação</li>
            </ul>

            <!-- /// -->

            <ul class="table-list scrollbar">
              <li *ngFor="let cVerbaListaConsulta of cVerbaListaConsulta">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <ul class="table-content">
                      <li>
                        <mat-checkbox
                          [(ngModel)]="cVerbaListaConsulta.completed"
                          (ngModelChange)="updateAllComplete()"
                        >
                        </mat-checkbox>
                      </li>
                      <li>{{ cVerbaListaConsulta.id }}</li>
                      <li>
                        <span
                          class="item-name"
                          #tooltip="matTooltip"
                          matTooltip="{{ cVerbaListaConsulta.nomeContrato }}"
                          matTooltipPosition="above"
                        >
                          {{ cVerbaListaConsulta.nomeContrato }}
                        </span>
                      </li>
                      <li>{{ cVerbaListaConsulta.dataCriacao }}</li>
                      <li>
                        {{ cVerbaListaConsulta.periodoVigenciaInicio }} -
                        {{ cVerbaListaConsulta.periodoVigenciaFinal }}
                      </li>
                      <li>{{ cVerbaListaConsulta.dtLiberacao }}</li>
                      <li>{{ cVerbaListaConsulta.contratoAtivo }}</li>
                    </ul>
                  </mat-expansion-panel-header>

                  <div class="more">
                    <ul>
                      <li><strong>Tipo:</strong> {{ cVerbaListaConsulta.tipoContrato }}</li>
                      <li><strong>Negociador:</strong> {{ cVerbaListaConsulta.negociador }}</li>
                      <li>
                        <strong>Valor Ressarcimento:</strong> R$
                        {{ cVerbaListaConsulta.valorRessarcimento }}
                      </li>
                      <li>
                        <strong>Valor Limite:</strong> R$ {{ cVerbaListaConsulta.valorLimite }}
                      </li>
                      <li>
                        <strong>Responsável:</strong> {{ cVerbaListaConsulta.responsavelCriacao }}
                      </li>
                      <li>
                        <strong>Liberado por:</strong> {{ cVerbaListaConsulta.dsUsuLiberacao }}
                      </li>
                    </ul>

                    <div class="buttons">
                      <a class="history" (click)="dialogHistory()">
                        <fa-icon [icon]="['fas', 'history']"></fa-icon>
                        Ver Histórico
                      </a>

                      <a class="preview" (click)="dialogPreview()">
                        <fa-icon [icon]="['fas', 'file-search']"></fa-icon>
                        Ver Detalhes
                      </a>

                      <a class="edit" [routerLink]="['/contrato-verba']">
                        <fa-icon [icon]="['fas', 'file-edit']"></fa-icon>
                        Editar
                      </a>

                      <!--<a class="cancel">
                        <fa-icon [icon]="['fas', 'file-times']"></fa-icon>
                        Interromper
                      </a>-->

                      <a class="publish">
                        <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                        Liberar
                      </a>
                    </div>
                  </div>

                  <p class="edited">
                    Editado por último no dia {{ cVerbaListaConsulta.dtUltAlt }} às
                    {{ cVerbaListaConsulta.horaAlt }} por {{ cVerbaListaConsulta.dsUsuUltAlt }}
                  </p>
                </mat-expansion-panel>
              </li>
            </ul>
          </mat-accordion>
        </div>
      </mat-tab>

      <!-- //////////////////////////////////////////////// -->

      <mat-tab label="Pendente de Liberação">
        <div class="mat-tab-content">
          <mat-accordion class="table">
            <div class="filter">
              <ul>
                <li>
                  <mat-checkbox
                    [checked]="allComplete"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)"
                  >
                    Selecionar Todos
                  </mat-checkbox>
                </li>
                <li>
                  <mat-form-field class="filter-select">
                    <mat-select [(value)]="filterOrderSelected">
                      <mat-option value="order">Ordernar por</mat-option>
                      <mat-option value="code">Código</mat-option>
                      <mat-option value="name">Nome</mat-option>
                      <mat-option value="created">Data de Cadastro</mat-option>
                      <mat-option value="period">Período de Vigência</mat-option>
                      <mat-option value="authorizationDate">Data da Liberação</mat-option>
                      <mat-option value="status">Situação</mat-option>
                    </mat-select>
                  </mat-form-field>
                </li>
                <li>
                  <div class="filter-search">
                    <fa-icon [icon]="['far', 'search']"></fa-icon>
                    <input autocomplete="off" type="text" placeholder="Pesquisar" />
                  </div>
                </li>
              </ul>

              <ul class="buttons">
                <li>
                  <button mat-button>
                    <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                    Liberar
                  </button>
                </li>
              </ul>
            </div>

            <!-- /// -->

            <ul class="table-header">
              <li>&nbsp;</li>
              <li>Código</li>
              <li>Nome</li>
              <li>Data de Cadastro</li>
              <li>Período de Vigência</li>
              <li>Data da Liberação</li>
              <li>Situação</li>
            </ul>

            <!-- /// -->

            <div class="scrollbar">
              <ul class="table-list">
                <li *ngFor="let cVerbaListaConsulta of cVerbaListaConsulta">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <ul class="table-content">
                        <li>
                          <mat-checkbox
                            [(ngModel)]="cVerbaListaConsulta.completed"
                            (ngModelChange)="updateAllComplete()"
                          >
                          </mat-checkbox>
                        </li>
                        <li>{{ cVerbaListaConsulta.id }}</li>
                        <li>
                          <span
                            class="item-name"
                            #tooltip="matTooltip"
                            matTooltip="{{ cVerbaListaConsulta.nomeContrato }}"
                            matTooltipPosition="above"
                          >
                            {{ cVerbaListaConsulta.nomeContrato }}
                          </span>
                        </li>
                        <li>{{ cVerbaListaConsulta.dataCriacao }}</li>
                        <li>
                          {{ cVerbaListaConsulta.periodoVigenciaInicio }} -
                          {{ cVerbaListaConsulta.periodoVigenciaFinal }}
                        </li>
                        <li>{{ cVerbaListaConsulta.dtLiberacao }}</li>
                        <li>{{ cVerbaListaConsulta.contratoAtivo }}</li>
                      </ul>
                    </mat-expansion-panel-header>

                    <div class="more">
                      <ul>
                        <li><strong>Tipo:</strong> {{ cVerbaListaConsulta.tipoContrato }}</li>
                        <li><strong>Negociador:</strong> {{ cVerbaListaConsulta.negociador }}</li>
                        <li>
                          <strong>Valor Ressarcimento:</strong> R$
                          {{ cVerbaListaConsulta.valorRessarcimento }}
                        </li>
                        <li>
                          <strong>Valor Limite:</strong> R$ {{ cVerbaListaConsulta.valorLimite }}
                        </li>
                        <li>
                          <strong>Responsável:</strong> {{ cVerbaListaConsulta.responsavelCriacao }}
                        </li>
                      </ul>

                      <div class="buttons">
                        <a class="history" (click)="dialogHistory()">
                          <fa-icon [icon]="['fas', 'history']"></fa-icon>
                          Ver Histórico
                        </a>

                        <a class="preview">
                          <fa-icon [icon]="['fas', 'file-search']"></fa-icon>
                          Ver Detalhes
                        </a>

                        <a class="edit">
                          <fa-icon [icon]="['fas', 'file-edit']"></fa-icon>
                          Editar
                        </a>

                        <!--<a class="cancel">
                          <fa-icon [icon]="['fas', 'file-times']"></fa-icon>
                          Interromper
                        </a>-->

                        <a class="publish">
                          <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                          Liberar
                        </a>
                      </div>
                    </div>

                    <p class="edited">
                      Editado por último no dia {{ cVerbaListaConsulta.dtUltAlt }} às
                      {{ cVerbaListaConsulta.horaAlt }} por {{ cVerbaListaConsulta.dsUsuUltAlt }}
                    </p>
                  </mat-expansion-panel>
                </li>
              </ul>
            </div>
          </mat-accordion>
        </div>
      </mat-tab>

      <!-- //////////////////////////////////////////////// -->

      <mat-tab label="Vigência">
        <div class="mat-tab-content">
          <mat-accordion class="table">
            <div class="filter">
              <ul>
                <li>
                  <mat-checkbox
                    [checked]="allComplete"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)"
                  >
                    Selecionar Todos
                  </mat-checkbox>
                </li>
                <li>
                  <mat-form-field class="filter-select">
                    <mat-select [(value)]="filterOrderSelected">
                      <mat-option value="order">Ordernar por</mat-option>
                      <mat-option value="code">Código</mat-option>
                      <mat-option value="name">Nome</mat-option>
                      <mat-option value="created">Data de Cadastro</mat-option>
                      <mat-option value="period">Período de Vigência</mat-option>
                      <mat-option value="authorizationDate">Data da Liberação</mat-option>
                      <mat-option value="status">Situação</mat-option>
                    </mat-select>
                  </mat-form-field>
                </li>
                <li>
                  <div class="filter-search">
                    <fa-icon [icon]="['far', 'search']"></fa-icon>
                    <input autocomplete="off" type="text" placeholder="Pesquisar" />
                  </div>
                </li>
              </ul>

              <ul class="buttons">
                <li>
                  <button mat-button class="cancel">
                    <fa-icon [icon]="['fas', 'file-times']"></fa-icon>
                    Interromper
                  </button>
                </li>
              </ul>
            </div>

            <!-- /// -->

            <ul class="table-header">
              <li>&nbsp;</li>
              <li>Código</li>
              <li>Nome</li>
              <li>Data de Cadastro</li>
              <li>Período de Vigência</li>
              <li>Data da Liberação</li>
              <li>Situação</li>
            </ul>

            <!-- /// -->

            <div class="scrollbar">
              <ul class="table-list">
                <li *ngFor="let cVerbaListaConsulta of cVerbaListaConsulta">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <ul class="table-content">
                        <li>
                          <mat-checkbox
                            [(ngModel)]="cVerbaListaConsulta.completed"
                            (ngModelChange)="updateAllComplete()"
                          >
                          </mat-checkbox>
                        </li>
                        <li>{{ cVerbaListaConsulta.id }}</li>
                        <li>
                          <span
                            class="item-name"
                            #tooltip="matTooltip"
                            matTooltip="{{ cVerbaListaConsulta.nomeContrato }}"
                            matTooltipPosition="above"
                          >
                            {{ cVerbaListaConsulta.nomeContrato }}
                          </span>
                        </li>
                        <li>{{ cVerbaListaConsulta.dataCriacao }}</li>
                        <li>
                          {{ cVerbaListaConsulta.periodoVigenciaInicio }} -
                          {{ cVerbaListaConsulta.periodoVigenciaFinal }}
                        </li>
                        <li>{{ cVerbaListaConsulta.dtLiberacao }}</li>
                        <li>{{ cVerbaListaConsulta.contratoAtivo }}</li>
                      </ul>
                    </mat-expansion-panel-header>

                    <div class="more">
                      <ul>
                        <li><strong>Tipo:</strong> {{ cVerbaListaConsulta.tipoContrato }}</li>
                        <li><strong>Negociador:</strong> {{ cVerbaListaConsulta.negociador }}</li>
                        <li>
                          <strong>Valor Ressarcimento:</strong> R$
                          {{ cVerbaListaConsulta.valorRessarcimento }}
                        </li>
                        <li>
                          <strong>Valor Limite:</strong> R$ {{ cVerbaListaConsulta.valorLimite }}
                        </li>
                        <li>
                          <strong>Responsável:</strong> {{ cVerbaListaConsulta.responsavelCriacao }}
                        </li>
                        <li>
                          <strong>Liberado por:</strong> {{ cVerbaListaConsulta.dsUsuLiberacao }}
                        </li>
                      </ul>

                      <div class="buttons">
                        <a class="history" (click)="dialogHistory()">
                          <fa-icon [icon]="['fas', 'history']"></fa-icon>
                          Ver Histórico
                        </a>

                        <a class="preview">
                          <fa-icon [icon]="['fas', 'file-search']"></fa-icon>
                          Ver Detalhes
                        </a>

                        <a class="edit">
                          <fa-icon [icon]="['fas', 'file-edit']"></fa-icon>
                          Editar
                        </a>

                        <a class="cancel">
                          <fa-icon [icon]="['fas', 'file-times']"></fa-icon>
                          Interromper
                        </a>

                        <!--<a class="publish">
                          <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                          Liberar
                        </a>-->
                      </div>
                    </div>

                    <p class="edited">
                      Editado por último no dia {{ cVerbaListaConsulta.dtUltAlt }} às
                      {{ cVerbaListaConsulta.horaAlt }} por {{ cVerbaListaConsulta.dsUsuUltAlt }}
                    </p>
                  </mat-expansion-panel>
                </li>
              </ul>
            </div>
          </mat-accordion>
        </div>
      </mat-tab>

      <!-- //////////////////////////////////////////////// -->

      <mat-tab label="Interrompido">
        <div class="mat-tab-content">
          <mat-accordion class="table">
            <div class="filter">
              <ul>
                <li>
                  <mat-checkbox
                    [checked]="allComplete"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)"
                  >
                    Selecionar Todos
                  </mat-checkbox>
                </li>
                <li>
                  <mat-form-field class="filter-select">
                    <mat-select [(value)]="filterOrderSelected">
                      <mat-option value="order">Ordernar por</mat-option>
                      <mat-option value="code">Código</mat-option>
                      <mat-option value="name">Nome</mat-option>
                      <mat-option value="created">Data de Cadastro</mat-option>
                      <mat-option value="period">Período de Vigência</mat-option>
                      <mat-option value="authorizationDate">Data da Liberação</mat-option>
                      <mat-option value="status">Situação</mat-option>
                    </mat-select>
                  </mat-form-field>
                </li>
                <li>
                  <div class="filter-search">
                    <fa-icon [icon]="['far', 'search']"></fa-icon>
                    <input autocomplete="off" type="text" placeholder="Pesquisar" />
                  </div>
                </li>
              </ul>

              <ul class="buttons">
                <li>
                  <button mat-button>
                    <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                    Liberar
                  </button>
                </li>
              </ul>
            </div>

            <!-- /// -->

            <ul class="table-header">
              <li>&nbsp;</li>
              <li>Código</li>
              <li>Nome</li>
              <li>Data de Cadastro</li>
              <li>Período de Vigência</li>
              <li>Data da Liberação</li>
              <li>Situação</li>
            </ul>

            <!-- /// -->

            <div class="scrollbar">
              <ul class="table-list">
                <li *ngFor="let cVerbaListaConsulta of cVerbaListaConsulta">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <ul class="table-content">
                        <li>
                          <mat-checkbox
                            [(ngModel)]="cVerbaListaConsulta.completed"
                            (ngModelChange)="updateAllComplete()"
                          >
                          </mat-checkbox>
                        </li>
                        <li>{{ cVerbaListaConsulta.id }}</li>
                        <li></li>
                        <li>
                          <span
                            class="item-name"
                            #tooltip="matTooltip"
                            matTooltip="{{ cVerbaListaConsulta.nomeContrato }}"
                            matTooltipPosition="above"
                          >
                            {{ cVerbaListaConsulta.nomeContrato }}
                          </span>
                        </li>
                        <li>{{ cVerbaListaConsulta.dataCriacao }}</li>
                        <li>
                          {{ cVerbaListaConsulta.periodoVigenciaInicio }} -
                          {{ cVerbaListaConsulta.periodoVigenciaFinal }}
                        </li>
                        <li>{{ cVerbaListaConsulta.dtLiberacao }}</li>
                        <li>{{ cVerbaListaConsulta.contratoAtivo }}</li>
                      </ul>
                    </mat-expansion-panel-header>

                    <div class="more">
                      <ul>
                        <li><strong>Tipo:</strong> {{ cVerbaListaConsulta.tipoContrato }}</li>
                        <li><strong>Negociador:</strong> {{ cVerbaListaConsulta.negociador }}</li>
                        <li>
                          <strong>Valor Ressarcimento:</strong> R$
                          {{ cVerbaListaConsulta.valorRessarcimento }}
                        </li>
                        <li>
                          <strong>Valor Limite:</strong> R$ {{ cVerbaListaConsulta.valorLimite }}
                        </li>
                        <li>
                          <strong>Responsável:</strong> {{ cVerbaListaConsulta.responsavelCriacao }}
                        </li>
                        <li>
                          <strong>Liberado por:</strong> {{ cVerbaListaConsulta.dsUsuLiberacao }}
                        </li>
                      </ul>

                      <div class="buttons">
                        <a class="history" (click)="dialogHistory()">
                          <fa-icon [icon]="['fas', 'history']"></fa-icon>
                          Ver Histórico
                        </a>

                        <a class="preview">
                          <fa-icon [icon]="['fas', 'file-search']"></fa-icon>
                          Ver Detalhes
                        </a>

                        <a class="edit">
                          <fa-icon [icon]="['fas', 'file-edit']"></fa-icon>
                          Editar
                        </a>

                        <!--<a class="cancel">
                          <fa-icon [icon]="['fas', 'file-times']"></fa-icon>
                          Interromper
                        </a>-->

                        <a class="publish">
                          <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                          Liberar
                        </a>
                      </div>
                    </div>

                    <p class="edited">
                      Editado por último no dia {{ cVerbaListaConsulta.dtUltAlt }} às
                      {{ cVerbaListaConsulta.horaAlt }} por {{ cVerbaListaConsulta.dsUsuUltAlt }}
                    </p>
                  </mat-expansion-panel>
                </li>
              </ul>
            </div>
          </mat-accordion>
        </div>
      </mat-tab>

      <!-- //////////////////////////////////////////////// -->

      <mat-tab label="Cancelado">
        <div class="mat-tab-content">
          <mat-accordion class="table">
            <div class="filter">
              <ul>
                <li>
                  <mat-form-field class="filter-select">
                    <mat-select [(value)]="filterOrderSelected">
                      <mat-option value="order">Ordernar por</mat-option>
                      <mat-option value="code">Código</mat-option>
                      <mat-option value="name">Nome</mat-option>
                      <mat-option value="created">Data de Cadastro</mat-option>
                      <mat-option value="period">Período de Vigência</mat-option>
                      <mat-option value="authorizationDate">Data da Liberação</mat-option>
                      <mat-option value="status">Situação</mat-option>
                    </mat-select>
                  </mat-form-field>
                </li>
                <li>
                  <div class="filter-search">
                    <fa-icon [icon]="['far', 'search']"></fa-icon>
                    <input autocomplete="off" type="text" placeholder="Pesquisar" />
                  </div>
                </li>
              </ul>
            </div>

            <!-- /// -->

            <ul class="table-header">
              <li>&nbsp;</li>
              <li>Código</li>
              <li>Nome</li>
              <li>Data de Cadastro</li>
              <li>Período de Vigência</li>
              <li>Data da Liberação</li>
              <li>Situação</li>
            </ul>

            <!-- /// -->

            <div class="scrollbar">
              <ul class="table-list scrollbar">
                <li *ngFor="let cVerbaListaConsulta of cVerbaListaConsulta">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <ul class="table-content">
                        <li>&nbsp;</li>
                        <li>{{ cVerbaListaConsulta.id }}</li>
                        <li>
                          <span
                            class="item-name"
                            #tooltip="matTooltip"
                            matTooltip="{{ cVerbaListaConsulta.nomeContrato }}"
                            matTooltipPosition="above"
                          >
                            {{ cVerbaListaConsulta.nomeContrato }}
                          </span>
                        </li>
                        <li>{{ cVerbaListaConsulta.dataCriacao }}</li>
                        <li>
                          {{ cVerbaListaConsulta.periodoVigenciaInicio }} -
                          {{ cVerbaListaConsulta.periodoVigenciaFinal }}
                        </li>
                        <li>{{ cVerbaListaConsulta.dtLiberacao }}</li>
                        <li>{{ cVerbaListaConsulta.contratoAtivo }}</li>
                      </ul>
                    </mat-expansion-panel-header>

                    <div class="more">
                      <ul>
                        <li><strong>Tipo:</strong> {{ cVerbaListaConsulta.tipoContrato }}</li>
                        <li><strong>Negociador:</strong> {{ cVerbaListaConsulta.negociador }}</li>
                        <li>
                          <strong>Valor Ressarcimento:</strong> R$
                          {{ cVerbaListaConsulta.valorRessarcimento }}
                        </li>
                        <li>
                          <strong>Valor Limite:</strong> R$ {{ cVerbaListaConsulta.valorLimite }}
                        </li>
                        <li>
                          <strong>Responsável:</strong> {{ cVerbaListaConsulta.responsavelCriacao }}
                        </li>
                        <li>
                          <strong>Liberado por:</strong> {{ cVerbaListaConsulta.dsUsuLiberacao }}
                        </li>
                      </ul>

                      <div class="buttons">
                        <a class="history" (click)="dialogHistory()">
                          <fa-icon [icon]="['fas', 'history']"></fa-icon>
                          Ver Histórico
                        </a>

                        <a class="preview">
                          <fa-icon [icon]="['fas', 'file-search']"></fa-icon>
                          Ver Detalhes
                        </a>

                        <a class="edit">
                          <fa-icon [icon]="['fas', 'file-edit']"></fa-icon>
                          Editar
                        </a>

                        <!--<a class="cancel">
                          <fa-icon [icon]="['fas', 'file-times']"></fa-icon>
                          Interromper
                        </a>-->

                        <a class="publish">
                          <fa-icon [icon]="['fas', 'file-check']"></fa-icon>
                          Liberar
                        </a>
                      </div>
                    </div>

                    <p class="edited">
                      Editado por último no dia {{ cVerbaListaConsulta.dtUltAlt }} às
                      {{ cVerbaListaConsulta.horaAlt }} por {{ cVerbaListaConsulta.dsUsuUltAlt }}
                    </p>
                  </mat-expansion-panel>
                </li>
              </ul>
            </div>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
